body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.recipe-img {
  width: 60px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
}

.logo-img {
  width: 60px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
}